@{
    ViewData["Title"] = "Информация за сайта Competitions.bg";
    ViewData["Keywords"] = "Платформа,Уебсайт,Състезания,Информация,Competitions";
    ViewData["Description"] = "Информация за уебсайта Competitions.bg";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" title="Начална страница">Начало</a></li>
        <li class="breadcrumb-item active" aria-current="page">Информация</li>
    </ol>
</nav>

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="clearfix">
      <img src="~/images/nbu.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 align-content-center" alt="Нов Български Университет">
    
      <p>
        Платформата COMPETITIONS.BG е направена като университетки проект за курса <em>CSCB700 Оптимизация за търсачки в </em>, който се изучава от студенти четвъртии курс в програми "Информатика" и "Информационни технологии" в Нов Български университет.
      </p>
    
      <p>
        Проектът е изработен от Илиан Ганчосов. Идеята на проекта е да се упражнят често срещани SEO практики в реална среда, като за оценяване се използва пряко сравнение с резултати на конкурентни платформи. 
        Поради тази цел, сайтът не е направен каато сложно комплексно решение и подлежи на редица технически оптимизации, за да може да изпълни пълния си потенциал.
        Към днешна дата може да се каже, че платформата е в основно състояния, предоставяща основни функционалности и опростен дизайн, за да се използва от потребители и да може да се направи реално сраавнениие между нея и конкурентни платформи.
      </p>
    
      <p>
        При възникнали въпроси, идеи за подобрение на платформата или друг вид обратна връзка, може да се свържете с на <a asp-controller="Home" asp-action="Contact" title="Контакти">страницата за контакт</a> .
      </p>
    </div>
</div>
