@{
    ViewData["Title"] = "Информация за сайта Competitions.bg";
    ViewData["Keywords"] = "Платформа,Уебсайт,Състезания,Информация,Competitions";
    ViewData["Description"] = "Информация за уебсайта Competitions.bg";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Тук даваме информация за целите на уебсайта
    </p>
    
    <div> Тук влиза онова на гугъл</div>
</div>
