@using Competitions.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Competitions.bg - Спортни Турнири и Лиги";
    ViewData["Keywords"] = "Състезания, Турнири, Лиги, Спорт";
    ViewData["Description"] = "Платформа за организиране и участие в турнири, лиги и разнообразни спортни състезания.";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
    <p>
        Competitions.bg е платформа, която цели да помогне на хората, желаещи да участват в спортни състезания, но нямат такава възможност.
        Сайтът предоставя опцията за свободно <strong>създаване на турнири, лиги и разнообразни спортни състезания</strong>.
        Платформата е напълно безплатна, като всеки има възможност да организира свой турнир или да се запише като участник във вече организиран турнир. 
        <em>Входна такса, награден фонд и всякакви опционални финансови параметри на дадено състезание се поемат от организатора на турнира. Платформата служи като социална мрежа за срещане на спортни ентусиасти, не се включва директно в провеждането на състезанията!</em>
        Competitions.bg е създаден с целта да се повиши броят на активно спортуващите хора, като чрез свободното оргнизиране на състезнаия всеки участник може да повиши своя спортен хъс и адреналин, да избяга от натовареното ежедневие и да разшири социалния си кръг, тъй като спортните събития са идеално място за нови запонанства с хора със сходни интереси!
    </p>
    <p>
        При желание на потребител да организира спортно събитие, то той се ангажира и с резервирането на съответните спорти игрища, кортове или зали, необходими за провеждането му. 
        Ако все още не сте избрали къде да се проведе желаното от вас състезание или пък няма свободни часове за обявените дати, винаги може да видите различни опции в свободно достъпни сайтове като например платформата
        <a target="_blank" href="https://clickandplay.bg">ClickAndPlay</a>
    </p>
    
    
        
    <button type="button" class="btn btn-light">
        <a class="page-link-with-hover" asp-controller="Competitions" asp-action="Upcoming" title="Предстоящи състезания">
            Предстоящи състезания
        </a>
    </button>
    @if (SignInManager.IsSignedIn(User))
    {
        <button type="button" class="btn btn-light">
            <a class="page-link-with-hover" asp-controller="Competitions" asp-action="Create" title="Създай състезание">
                Създай състезание
            </a>
        </button>
        <button type="button" class="btn btn-light">
            <a class="page-link-with-hover" asp-controller="Teams" asp-action="Create" title="Създай отбор">
                Създай отбор
            </a>
        </button>
    }
</div>


