@{
    ViewData["Title"] = "Страницата не беше намерена";
    ViewData["Keywords"] = "Състезаниия,Competitions,Липсваща,Страница";
    ViewData["Description"] = "Търсената страница не бе намерена.";
}

<div class="center-custom">
    <img src="~/images/errors/404.png" class="error-code-image" alt="Страницата не бе намерена">
    <br>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Обратно към начална страница</a>
</div>