@{
    ViewData["Title"] = "Защита на личните данните";
    ViewData["Keywords"] = "Защита,Данни,GDPR,Лични,Competitions";
    ViewData["Description"] = "Защита на данните в платформата Competitions.bg";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" title="Начална страница">Начало</a></li>
        <li class="breadcrumb-item active" aria-current="page">Защита на личните данни</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>


<div class="center-custom">
    <img src="~/images/privacyimg.jpg" class="error-code-image" alt="Защита на личните данни">
    <br>
</div>

<div>
    <p>
        Всеки активен потребител в сайта, както и човек, желаещ да отправи запитване към нас, трябва да предостави основни лични данни за себе си, като в същността си те представляват начин за контакт с ползвателя на платформата. 
        Подобни данни са особено важни при организаторите на турнири, тъй като чрез тях участниците може да се свържат с тях, за да уточняват детойли по предстоящото или вече активно събитие.
    </p>
    
    <div>
        <h2>Какво е GDPR?</h2>
        
            <p>
                От 25 май 2018 година в България започва да се прилага Общ регламент за защита на личните данни (GDPR).
                Той е приет от Европейския съюз и целта му е да уеднакви политиките на държавите-членки на ЕС, свързани със събирането и използването на лични данни.
                Неговата цел е да гарантира правото ни на неприкосновеност, да защити личните ни данни, за да даде повече сигурност от злоупотреби на всеки от нас.
            </p>
        
            <button type="button" class="btn btn-light">
                <a class="page-link-with-hover" target="_blank" href="https://www.cpdp.bg/userfiles/file/New_legislation/Regulation_EU_2016_679_Bg.pdf" title="GDPR детайли">
                    Запознай се с регламента
                </a>
            </button>
    </div>
    
    <h2>Какво са лични данни според GDPR?</h2>
    <p>
        Всички данни, благодарение на което може да бъде идентифициран даден потребител, се счита за лични данни. Това може да бъде имейл, имена, мобилен телефон, адрес на живеене, IP адрес.
    </p>
    
    <h2>Какви данни събираме ние?</h2>
    <p>
        Когато потребителят използва сайта ни, от него се събират различни видове данни, например:
        <ul>
            <li><em>Данни за контакт с потребителя</em></li>
            <li><em>Данни за това в какви събития е записан или не е успял да се запише, но е изявил желание към</em></li>
            <li><em>Данни за това към кои реклами е проявил интерес</em></li>
        </ul>
        За да можем да подобрим Вашето преживяване на платформата ни, ние използваме стандартни web технологии за маркирането Ви като потребители и проследяване на поведението Ви.
        Най-често използваната от нас техника е записването на т.нар. бисквитка (cookie) на Вашия компютър.
        Бисквитката представлява просто един малък файл, който ние можем да прочетем, когато посещавате наши сайтове или сайтове на наши партньори, сервиращи наши javascript .
    </p>
    
    <h2>Колко време се съхраняват личните Ви данни?</h2>
    <p>
        Съхраняването на данните продължава, докато имаме основание за тяхното съхранение.
    </p>
    
    <h2>Къде се съхраняват личните Ви данни?</h2>
    <p>
        Личните данни на всеки потребител биват съхранявани на защитени сървъри, които платформата използваа.
    </p>
    
    <h2>Как може да управляваш данните си?</h2>
    <p>
        Може да променяте съгласието си спрямо желанието си за всяка цел на обработване. Също така може да изтриете данните си, както и да упражните правото си „да бъдеш забравен“, като ние също ви предоставяме възможността упражниш и другите си права, гарантирани от GDPR.
    </p>
</div>
