@{
    ViewData["Title"] = "Общи условия - Договор за ползване на услугите на Competitions.bg";
    ViewData["Keywords"] = "Условия,Ползване,Услуги,Competitions,Договор";
    ViewData["Description"] = "Общи условия - Договор за ползване на услугите на Competitions.bg";
}
<h1>@ViewData["Title"]</h1>
<div class="center-custom">
    <img src="~/images/termsimg.jpg" class="error-code-image" alt="Общи условия">
    <br>
</div>

<div>
    <ol>
        <li>Страни по договора</li>
        Страни по този договор за ползване на услугите сте Вие в качеството Ви на потребител и плаформата Competitions.bg
        <li>Регистрация и поверителност</li>
        Част от страниците на платформата изискват регистрация, за да може потребителят пълноценно да работи с тях - да успее да се запише или отпише в дадено състезание или отбор, да създаде състезание или отбор, както и редица други операции, изискващи оторизиран достъп.
        Регистрацията изискване предоставя на валиден имейл адрес, който да не е вече използван, както и сигурна парола. В последствие от потребителят може да бъде изискаан и телефонен номер, за да може участници в оргаанизирани от него състезания да се свържат с него. Телефонен номер може да бъде изискан и при отправяне на въпрос или обвинение в посока платформата COMPETITIONS.BG.
        
        Когато попълване формата за регистрация вие се задължавате:
        <ul>
            <li>Вашите имейл адрес, потребителското ви име и паролата ви за достъп са персонални и не могат да се използват от никой друг за достъп до регистрационните зони за платформата.</li>
            <li>Вие се задължавате да не съобщавате на никого своите потребителско име и парола; да осъществявате достъп до информационните услуги чрез своята регистрация и да не се опитватеда представяте себе си като друг потребител</li>
        </ul>
        Когато се регистрирате в COMPETITIONS.BG Вие давате своето съгласие на собственика на сайта в качеството си на администратор на лични данни, да съхранява и обработва Ваши лични данни, доброволно предоставени от Вас. Ние разбираме, че сигурността на Вашата лична информация е важна.
        За повече информация вижте <a asp-controller="Home" asp-action="Privacy" title="Лични данни">страницата за личните данни</a>.
        
        <li>Общо и потребителско съдържание. Авторски права</li>
        Задължения на потребителя по отношение на съдържанието, което имат право да генерират на сайтовете на COMPETITIONS.BG:
        <ul>
            <li>Вие нямате право да качвате (upload), да разпространявате или по друг начин да публикувате клеветническо, нецензурирано, обидно, порнографско или по друг начин незаконно или противоречащо на морала съдържание;</li>
            <li>Публикуването на текст/фото и/или аудио съдържание, което призовава към насилствена промяна на установения конституционен ред, което призовава към насилие, което съдържа забранени от закона послания или по своя характер може да увреди оборудването на другите потребители, ще бъда изтривано незабавно и докладвано на съответните органи, упълномощени да санкционират подобно поведение.</li>
            <li>Вие се съгласявате да не отправяте заплахи, закани и обиди към останалите потребители и да не използвате клеветнически и/или вулгарен език или съзнателно да нарушавате дискусиите с повтарящи се съобщения, безсмислени съобщения или „спам“;</li>
            <li>Вие се задължавате да поддържате добрия тон на дискусиите и затова няма да използвате език, които обижда и/или дискриминира на основата на раса, религия, националност, пол, сексуални предпочитания, възраст, образование, увреждания и др.подобни. Омразната реч от всякакъв вид е основание за незабавно и трайно прекратяване на достъпа до всички или част от услугите на COMPETITIONS.BG</li>
        </ul>
        <li>Отговорност</li>
        COMPETITIONS.BG не носи отговорност за:
        <ul>
            <li>Некоректно проведено или несъстоящо се състезание, обявено на платформата;</li>
            <li>Нарушение на конситуционни права преди, след или по време на провеждане на дадено мероприятие, което не е организирано от представите на екипа на COMPETITIONS.BG;</li>
            <li>Информацията (в т.ч. за нейната пълнота и достоверност), съдържаща се в web сайтове, към които сайтовете от COMPETITIONS.BG препращат; </li>
            <li>Съдържанието на изображения, картинки, текстове, документи и друга информация, генерирани от потребители в сайтовете от COMPETITIONS.BG, носи запазва правото да премахва и/или променя по всяко време и по своя преценка всеки един материал, генериран от потребител когато има основателни причини да счита, че се злоупотребява с права или се нарушава някое от правилата по този Договор; </li>
        </ul>
        При установени нарушение при провеждане на дадено състезание или при нарушаване на конституционните или другии права на човек, молим да се даде подробна информация към платформата COMPETITIONS.BG, за да се вземат съответните мерки срещу потребителите, отговорни за нарушенията.
    </ol>
</div>
