<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content=@ViewData["Keywords"] />
    <meta name="description" content=@ViewData["Description"] />
    <title>@ViewData["Title"] - Състезания</title>
    <script src="https://kit.fontawesome.com/7d47a6bd51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Начална страница">Competitions</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" title="Начална страница">Home</a>
                        </li>
                        <li class="nav-item">
                        <!--
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Състезания
                            </button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="1">Футбол</a></button>
                                <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="2">Тенис</a></button>
                                <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="3">Шах</a></button>
                                <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="4">ESports</a></button>
                                <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="5">Скуош</a></button>
                                <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="6">Дартс</a></button>
                            </div>
                        </div>
                        -->
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Състезания</a>
                            <div class="dropdown-menu dropright" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">По Спорт</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="1" title="Футболни състезания">Футбол</a></button>
                                    <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="2" title="Тенис състезания">Тенис</a></button>
                                    <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="3" title="Шах състезания">Шах</a></button>
                                    <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="4" title="ESports състезания">ESports</a></button>
                                    <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="5" title="Скуош състезания">Скуош</a></button>
                                    <button type="button" class="dropdown-item btn btn-info btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="BySport" asp-route-sportId="6" title="Дартс състезания">Дартс</a></button>
                                </div>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="Upcoming" title="Предстоящи състезания">Предстоящи</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="Active" title="Активни състезания">Активни</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="Finished" title="Приключили състезания">Приключили</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="All"  title="Всички състезания">Всички състезания</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"  title="Предстоящи състезания">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Competitions.bg - <a asp-area="" asp-controller="Home" asp-action="Privacy" title="Лични данни">Лични данни</a> | <a asp-area="" asp-controller="Home" asp-action="Terms" title="Общи условия">Общи условия</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
