@model Competitions.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
    ViewData["Keywords"] = "Състезаниия,Competitions,Грешка,Неочаквана,Проблем";
    ViewData["Description"] = "Възникна грешка.";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка докато обработвахме заявката ви.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>Извиняваме се за неудобството! При зачестили появи на грешки или ако смятате, че има сериозен проблем, моля да се свържете с нас! </p>
