@{
    ViewData["Title"] = "Състезания, турнири и лиги";
    ViewData["Keywords"] = $"Състезания, Турнири, Лиги, ЛипсващиСъстезания, Competitions";
    ViewData["Description"] = $"Няма намерени състезание по зададения критерии";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" title="Начална страница">Начало</a></li>
        <li class="breadcrumb-item active" aria-current="page">Липсващи Състезания</li>
    </ol>
</nav>

<div>
    <h1 class="text-center">В момента няма налични състезание по избрания критерии</h1>

    <div class="container">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Обратно към начална страница</a>
        </div>
    </div>
</div>